.currentPage{
    background: #2a2527;
}

/* nav */
nav ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    height:40px;
    padding-left: 20%;
    padding-right: 20%;
    background: #b95345;
}
nav li{
    width: calc(100% / 7);
}
nav ul li a{
    font-size:20px;
    padding:10px; 
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #525050;
}


header {
    display:flex;
    margin:0;
    justify-content: space-between;
    flex-direction: column;
    background:#2a2527;
}

body {
    margin:0;
}
